.elementor-101 .elementor-element.elementor-element-4ff89df2>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-1ccf73e {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-101 .elementor-element.elementor-element-389470a5 .elementor-heading-title {
    color: #001577;
}

.elementor-101 .elementor-element.elementor-element-1c2536eb:not(.elementor-motion-effects-element-type-background),
.elementor-101 .elementor-element.elementor-element-1c2536eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(234, 62, 0, 0.03);
}

.elementor-101 .elementor-element.elementor-element-1c2536eb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-101 .elementor-element.elementor-element-1c2536eb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb .elementor-icon-wrapper {
    text-align: center;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-stacked .elementor-icon {
    background-color: #001577;
    color: #ffffff;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-framed .elementor-icon,
.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-default .elementor-icon {
    color: #001577;
    border-color: #001577;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-framed .elementor-icon,
.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-default .elementor-icon svg {
    fill: #001577;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-framed .elementor-icon {
    background-color: #ffffff;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb.elementor-view-stacked .elementor-icon svg {
    fill: #ffffff;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb .elementor-icon {
    font-size: 37px;
}

.elementor-101 .elementor-element.elementor-element-66bd22fb .elementor-icon i,
.elementor-101 .elementor-element.elementor-element-66bd22fb .elementor-icon svg {
    transform: rotate(0deg);
}

body .eae-popup.mfp-bg.eae-wrap-1603b85 {
    background-color: #000319D9;
}

.elementor-101 .elementor-element.elementor-element-1603b85 .icon-position-before i,
.elementor-101 .elementor-element.elementor-element-1603b85 .icon-position-before svg {
    margin-right: 6px;
}

.elementor-101 .elementor-element.elementor-element-1603b85 .icon-position-after i,
.elementor-101 .elementor-element.elementor-element-1603b85 .icon-position-after svg {
    margin-left: 6px;
}

.eae-wrap-1603b85 .mfp-title {
    color: #61B7DB;
}

.elementor-101 .elementor-element.elementor-element-1603b85 .eae-popup-link {
    color: #FFFFFF;
    background-color: #000249;
}

.elementor-101 .elementor-element.elementor-element-1603b85 .eae-popup-link svg {
    fill: #FFFFFF;
}

.elementor-101 .elementor-element.elementor-element-1603b85 .eae-popup-link:hover {
    background-color: #042DCD;
}

.eae-wrap-1603b85 .eae-close {
    font-size: 28px;
    height: 28px;
    width: 28px;
    top: 10px;
    right: 10px;
}

.eae-wrap-1603b85 svg.eae-close {
    width: 28px;
    height: 28px;
}

.elementor-101 .elementor-element.elementor-element-735030f9 {
    --divider-border-style: rounds_tribal;
    --divider-color: #4054b2;
    --divider-pattern-height: 20px;
}

.elementor-101 .elementor-element.elementor-element-735030f9 .elementor-divider-separator {
    width: 90%;
}

.elementor-101 .elementor-element.elementor-element-735030f9 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-101 .elementor-element.elementor-element-735030f9>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-303bcc30 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-stacked .elementor-icon {
    background-color: #001577;
    color: #ffffff;
}

.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-framed .elementor-icon,
.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-default .elementor-icon {
    color: #001577;
    border-color: #001577;
}

.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-framed .elementor-icon,
.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-default .elementor-icon svg {
    fill: #001577;
}

.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-framed .elementor-icon {
    background-color: #ffffff;
}

.elementor-101 .elementor-element.elementor-element-303bcc30.elementor-view-stacked .elementor-icon svg {
    fill: #ffffff;
}

.elementor-101 .elementor-element.elementor-element-303bcc30 .elementor-icon {
    font-size: 37px;
}

.elementor-101 .elementor-element.elementor-element-303bcc30 .elementor-icon i,
.elementor-101 .elementor-element.elementor-element-303bcc30 .elementor-icon svg {
    transform: rotate(0deg);
}

body .eae-popup.mfp-bg.eae-wrap-2be654b {
    background-color: #000319D9;
}

.elementor-101 .elementor-element.elementor-element-2be654b .icon-position-before i,
.elementor-101 .elementor-element.elementor-element-2be654b .icon-position-before svg {
    margin-right: 6px;
}

.elementor-101 .elementor-element.elementor-element-2be654b .icon-position-after i,
.elementor-101 .elementor-element.elementor-element-2be654b .icon-position-after svg {
    margin-left: 6px;
}

.eae-wrap-2be654b .mfp-title {
    color: #61B7DB;
}

.elementor-101 .elementor-element.elementor-element-2be654b .eae-popup-link {
    color: #FFFFFF;
    background-color: #000249;
}

.elementor-101 .elementor-element.elementor-element-2be654b .eae-popup-link svg {
    fill: #FFFFFF;
}

.elementor-101 .elementor-element.elementor-element-2be654b .eae-popup-link:hover {
    background-color: #042DCD;
}

.eae-wrap-2be654b .eae-close {
    font-size: 28px;
    height: 28px;
    width: 28px;
    top: 10px;
    right: 10px;
}

.eae-wrap-2be654b svg.eae-close {
    width: 28px;
    height: 28px;
}

.elementor-101 .elementor-element.elementor-element-27bec46f {
    --divider-border-style: rounds_tribal;
    --divider-color: #4054b2;
    --divider-pattern-height: 20px;
}

.elementor-101 .elementor-element.elementor-element-27bec46f .elementor-divider-separator {
    width: 90%;
}

.elementor-101 .elementor-element.elementor-element-27bec46f .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-101 .elementor-element.elementor-element-27bec46f>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-6e26e44e .elementor-spacer-inner {
    --spacer-size: 15px;
}

.elementor-101 .elementor-element.elementor-element-6ff8e5e3:not(.elementor-motion-effects-element-type-background),
.elementor-101 .elementor-element.elementor-element-6ff8e5e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(234, 62, 0, 0.03);
}

.elementor-101 .elementor-element.elementor-element-6ff8e5e3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-101 .elementor-element.elementor-element-6ff8e5e3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-101 .elementor-element.elementor-element-2ec6fae3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-684fd8ee.elementor-view-stacked .elementor-icon {
    background-color: #001577;
}

.elementor-101 .elementor-element.elementor-element-684fd8ee.elementor-view-framed .elementor-icon,
.elementor-101 .elementor-element.elementor-element-684fd8ee.elementor-view-default .elementor-icon {
    fill: #001577;
    color: #001577;
    border-color: #001577;
}

.elementor-101 .elementor-element.elementor-element-684fd8ee {
    --icon-box-icon-margin: 15px;
}

.elementor-101 .elementor-element.elementor-element-684fd8ee .elementor-icon-box-title {
    color: #001577;
}

.elementor-101 .elementor-element.elementor-element-684fd8ee .elementor-icon-box-title,
.elementor-101 .elementor-element.elementor-element-684fd8ee .elementor-icon-box-title a {
    font-size: 23px;
    font-weight: 500;
}

.elementor-101 .elementor-element.elementor-element-425e8689>.elementor-element-populated {
    color: #0b1044;
    text-align: center;
}

.elementor-101 .elementor-element.elementor-element-5c8d68d2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 50px;
}

.elementor-101 .elementor-element.elementor-element-51b04f70.elementor-view-stacked .elementor-icon {
    background-color: #001577;
}

.elementor-101 .elementor-element.elementor-element-51b04f70.elementor-view-framed .elementor-icon,
.elementor-101 .elementor-element.elementor-element-51b04f70.elementor-view-default .elementor-icon {
    fill: #001577;
    color: #001577;
    border-color: #001577;
}

.elementor-101 .elementor-element.elementor-element-51b04f70 {
    --icon-box-icon-margin: 15px;
}

.elementor-101 .elementor-element.elementor-element-51b04f70 .elementor-icon-box-title {
    color: #001577;
}

.elementor-101 .elementor-element.elementor-element-51b04f70 .elementor-icon-box-title,
.elementor-101 .elementor-element.elementor-element-51b04f70 .elementor-icon-box-title a {
    font-size: 23px;
    font-weight: 500;
}

.elementor-101 .elementor-element.elementor-element-4e254b6 .elementor-spacer-inner {
    --spacer-size: 15px;
}

.elementor-101 .elementor-element.elementor-element-78a07494:not(.elementor-motion-effects-element-type-background),
.elementor-101 .elementor-element.elementor-element-78a07494>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(234, 62, 0, 0.03);
}

.elementor-101 .elementor-element.elementor-element-78a07494 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-101 .elementor-element.elementor-element-78a07494>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-101 .elementor-element.elementor-element-62c23bd0:not(.elementor-motion-effects-element-type-background),
.elementor-101 .elementor-element.elementor-element-62c23bd0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(0, 86, 226, 0.02);
}

.elementor-101 .elementor-element.elementor-element-62c23bd0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-101 .elementor-element.elementor-element-62c23bd0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-101 .elementor-element.elementor-element-88c2142 img {
    width: 100%;
    max-width: 100%;
}

.elementor-101 .elementor-element.elementor-element-88c2142>.elementor-widget-container {
    margin: 0px -50px 0px 0px;
}

@media(min-width:768px) {
    .elementor-101 .elementor-element.elementor-element-21f7021b {
        width: 9.3%;
    }
    .elementor-101 .elementor-element.elementor-element-101dbf75 {
        width: 40.7%;
    }
    .elementor-101 .elementor-element.elementor-element-3dec6f84 {
        width: 9.396%;
    }
    .elementor-101 .elementor-element.elementor-element-79366057 {
        width: 40.604%;
    }
    .elementor-101 .elementor-element.elementor-element-2ec6fae3 {
        width: 18.571%;
    }
    .elementor-101 .elementor-element.elementor-element-425e8689 {
        width: 29.444%;
    }
    .elementor-101 .elementor-element.elementor-element-5c8d68d2 {
        width: 22.952%;
    }
    .elementor-101 .elementor-element.elementor-element-1d7e7026 {
        width: 29.033%;
    }
    .elementor-101 .elementor-element.elementor-element-21c8618 {
        width: 16.654%;
    }
    .elementor-101 .elementor-element.elementor-element-3af1615 {
        width: 18.855%;
    }
    .elementor-101 .elementor-element.elementor-element-29f69a6 {
        width: 24.138%;
    }
    .elementor-101 .elementor-element.elementor-element-b3f5254 {
        width: 40.353%;
    }
}

@media(max-width:1024px) {
    .elementor-101 .elementor-element.elementor-element-88c2142 img {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-101 .elementor-element.elementor-element-88c2142 img {
        width: 100%;
        max-width: 100%;
    }
}